In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
#Data collection and analysis
diabetes_dataset=pd.read_csv('diabetes.csv')

In [3]:
#printing first five lines of dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#number of rows and columns in dataset
diabetes_dataset.shape

(768, 9)

In [5]:
#statistical measures of data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [9]:
#seperating data and varriables
X=diabetes_dataset.drop(columns='Outcome',axis=1)
Y=diabetes_dataset['Outcome']

In [10]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [11]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [13]:
#standardisation of data
scaler=StandardScaler()

In [14]:
scaler.fit(X)

StandardScaler()

In [15]:
Standardized_data=scaler.transform(X)

In [17]:
print(Standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [18]:
X=Standardized_data
Y=diabetes_dataset['Outcome']

In [19]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [20]:
#data split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=3)

In [21]:
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[[-1.14185152e+00 -5.91344890e-01  3.04734002e-01 ... -4.06047387e+00
   3.02385450e-01 -1.04154944e+00]
 [-5.47918591e-01 -9.98207780e-01  1.08020025e+00 ...  1.91320847e-01
  -5.43247780e-01  7.45293379e-01]
 [-5.47918591e-01  6.60540923e-01  6.66618252e-01 ... -9.25568512e-01
   8.73187880e-01 -1.04154944e+00]
 ...
 [-8.44885053e-01 -5.92934199e-02  8.73409251e-01 ...  1.72704372e+00
   1.01513346e+00 -3.60847411e-01]
 [ 4.60143347e-02 -8.10424908e-01 -2.63941247e-01 ...  9.41978774e-04
  -9.38883326e-01 -1.90671905e-01]
 [ 3.42980797e-01 -7.79127762e-01  2.53036252e-01 ...  2.04012771e-01
   1.58593589e+00  8.30381132e-01]]
[[ 0.04601433  0.31627232 -0.05715025 ...  0.14055315 -0.94190344
  -0.44593516]
 [-0.84488505 -0.93561349 -0.26394125 ... -0.35443191 -0.84525965
  -1.04154944]
 [ 1.53084665 -1.53025925  0.45982725 ... -0.04982572 -0.5794892
   0.40494237]
 ...
 [ 0.3429808  -0.184482    0.35643175 ... -0.10059342 -0.38922173
   0.91546889]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [-0.84488505 -0.12188771 -0.47073225 ...  0.22939662 -0.01774713
  -0.53102292]]
145    0
491    0
94     0
514    0
439    0
      ..
421    0
519    0
287    1
400    1
265    0
Name: Outcome, Length: 614, dtype: int64
547    0
240    0
403    0
641    0
733    0
      ..
448    1
54     0
337    1
1      0
651    0
Name: Outcome, Length: 154, dtype: int64

In [22]:
print(X_train)

[[-1.14185152e+00 -5.91344890e-01  3.04734002e-01 ... -4.06047387e+00
   3.02385450e-01 -1.04154944e+00]
 [-5.47918591e-01 -9.98207780e-01  1.08020025e+00 ...  1.91320847e-01
  -5.43247780e-01  7.45293379e-01]
 [-5.47918591e-01  6.60540923e-01  6.66618252e-01 ... -9.25568512e-01
   8.73187880e-01 -1.04154944e+00]
 ...
 [-8.44885053e-01 -5.92934199e-02  8.73409251e-01 ...  1.72704372e+00
   1.01513346e+00 -3.60847411e-01]
 [ 4.60143347e-02 -8.10424908e-01 -2.63941247e-01 ...  9.41978774e-04
  -9.38883326e-01 -1.90671905e-01]
 [ 3.42980797e-01 -7.79127762e-01  2.53036252e-01 ...  2.04012771e-01
   1.58593589e+00  8.30381132e-01]]

In [23]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(614, 8)
(154, 8)
(614,)
(154,)

In [24]:
#Training the model
classifier=svm.SVC(kernel='linear')

In [25]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [26]:
#accuracy score
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

print the accuracy score on training data

In [27]:
print('Accuracy score on the training data:',training_data_accuracy)

Accuracy score on the training data: 0.7833876221498371

In [30]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [31]:
print('Accuracy score on the testing data:' ,test_data_accuracy)

Accuracy score on the testing data: 0.7337662337662337

In [34]:
input_data=(15,136,70,32,110,37.1,0.153,43)

#changing the input data into numpy array because processing on numpy is very easy
input_data_as_nparray=np.array(input_data)

#reshaping the data
reshaped_input_data=input_data_as_nparray.reshape(1,-1)

#standardize input data
std_data=scaler.transform(reshaped_input_data)
print(std_data)

prediction=classifier.predict(std_data)
print(prediction)

if (prediction[0]==1):
    print ('The person is diabetic')
else:
    print('The person is non-diabetic')

[[ 3.31264542  0.47275805  0.04624525  0.71908574  0.26222798  0.64823013
  -0.96304428  0.83038113]]
[1]
The person is diabetic